<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.fmmall.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.fmmall.entity.Orders">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="untitled" jdbcType="VARCHAR" property="untitled" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="receiver_mobile" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="INTEGER" property="actualAmount" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="order_remark" jdbcType="VARCHAR" property="orderRemark" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="delivery_type" jdbcType="VARCHAR" property="deliveryType" />
    <result column="delivery_flow_id" jdbcType="VARCHAR" property="deliveryFlowId" />
    <result column="order_freight" jdbcType="DECIMAL" property="orderFreight" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="flish_time" jdbcType="TIMESTAMP" property="flishTime" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="close_type" jdbcType="INTEGER" property="closeType" />
  </resultMap>

<!--
  <resultMap id="OrdersVOMap" type="com.qfedu.fmmall.entity.OrdersVO">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="untitled" jdbcType="VARCHAR" property="untitled" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="receiver_mobile" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="INTEGER" property="actualAmount" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="order_remark" jdbcType="VARCHAR" property="orderRemark" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="delivery_type" jdbcType="VARCHAR" property="deliveryType" />
    <result column="delivery_flow_id" jdbcType="VARCHAR" property="deliveryFlowId" />
    <result column="order_freight" jdbcType="DECIMAL" property="orderFreight" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="flish_time" jdbcType="TIMESTAMP" property="flishTime" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="close_type" jdbcType="INTEGER" property="closeType" />
    <collection property="orderItems" ofType="com.qfedu.fmmall.entity.OrderItem">
      <result column="item_id" jdbcType="VARCHAR" property="itemId" />
      <result column="item_order_id" jdbcType="VARCHAR" property="orderId" />
      <result column="product_id" jdbcType="VARCHAR" property="productId" />
      <result column="product_name" jdbcType="VARCHAR" property="productName" />
      <result column="product_img" jdbcType="VARCHAR" property="productImg" />
      <result column="sku_id" jdbcType="VARCHAR" property="skuId" />
      <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
      <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
      <result column="buy_counts" jdbcType="INTEGER" property="buyCounts" />
      <result column="item_total_amount" jdbcType="DECIMAL" property="totalAmount" />
      <result column="basket_date" jdbcType="TIMESTAMP" property="basketDate" />
      <result column="buy_time" jdbcType="TIMESTAMP" property="buyTime" />
      <result column="is_comment" jdbcType="INTEGER" property="isComment" />
    </collection>
  </resultMap>

  <select id="selectOrders" resultMap="OrdersVOMap">
    select
      o.order_id,user_id,untitled,receiver_name, receiver_mobile,receiver_address,
      o.total_amount, actual_amount,pay_type,order_remark,status,delivery_type,
      delivery_flow_id,order_freight,delete_status,create_time,
      update_time,pay_time,delivery_time, flish_time,cancel_time,close_type,

      item_id, i.order_id item_order_id,
      product_id,product_name,product_img,sku_id,sku_name,product_price,
      buy_counts,i.total_amount item_total_amount,
      basket_date,buy_time,is_comment

    from orders o INNER JOIN order_item i
    ON o.order_id = i.order_id
    where o.user_id=#{userId}
    <if test="status != null">
      and o.status=#{status}
    </if>
    limit #{start},#{limit}
  </select>
  -->

  <resultMap id="OrdersVOMap" type="com.qfedu.fmmall.entity.OrdersVO">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="untitled" jdbcType="VARCHAR" property="untitled" />
    <result column="receiver_name" jdbcType="VARCHAR" property="receiverName" />
    <result column="receiver_mobile" jdbcType="VARCHAR" property="receiverMobile" />
    <result column="receiver_address" jdbcType="VARCHAR" property="receiverAddress" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="actual_amount" jdbcType="INTEGER" property="actualAmount" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="order_remark" jdbcType="VARCHAR" property="orderRemark" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="delivery_type" jdbcType="VARCHAR" property="deliveryType" />
    <result column="delivery_flow_id" jdbcType="VARCHAR" property="deliveryFlowId" />
    <result column="order_freight" jdbcType="DECIMAL" property="orderFreight" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="flish_time" jdbcType="TIMESTAMP" property="flishTime" />
    <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
    <result column="close_type" jdbcType="INTEGER" property="closeType" />
    <collection property="orderItems" column="order_id" select="com.qfedu.fmmall.dao.OrderItemMapper.listOrderItemsByOrderId"/>
  </resultMap>
  <select id="selectOrders" resultMap="OrdersVOMap">
    select
    order_id,user_id,untitled,receiver_name, receiver_mobile,receiver_address,
    total_amount, actual_amount,pay_type,order_remark,status,delivery_type,
    delivery_flow_id,order_freight,delete_status,create_time,
    update_time,pay_time,delivery_time, flish_time,cancel_time,close_type
    from orders
    where user_id=#{userId}
    <if test="status != null">
      and status=#{status}
    </if>
    limit #{start},#{limit}
  </select>

</mapper>