<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.fmmall.dao.ProductParamsMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.fmmall.entity.ProductParams">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="param_id" jdbcType="VARCHAR" property="paramId" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_place" jdbcType="VARCHAR" property="productPlace" />
    <result column="foot_period" jdbcType="VARCHAR" property="footPeriod" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="factory_address" jdbcType="VARCHAR" property="factoryAddress" />
    <result column="packaging_method" jdbcType="VARCHAR" property="packagingMethod" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
    <result column="storage_method" jdbcType="VARCHAR" property="storageMethod" />
    <result column="eat_method" jdbcType="VARCHAR" property="eatMethod" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>